@tailwind base;

body {
  margin: 0;
  @apply bg-gray-f2;
}

html, body, #root {
  height: 100%;
}

:focus, button:focus {
  outline: none;
}

input {
  background: none;
}

.text-17 {
  font-size: 17px;
}

@tailwind components;

textarea::placeholder, input::placeholder {
  @apply text-gray-6b;
}

.shadow-around {
  box-shadow: 0 4px 30px 0 gainsboro;
}

.absolute-fill {
  @apply absolute top-0 left-0 w-full h-full;
}

.flex-center {
  @apply flex justify-center items-center;
}

.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 leading-tight;
}

.form-input:focus {
  @apply outline-none;
}

@tailwind utilities;
